{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv1 ph3 ph4-ns ">
      <p class="f6 b helvetica tracked">
        {{/* Humanize removes hyphens and capitalizes the first word */}}
        {{ humanize .Section | upper  }}
      </p>
      <h1 class="f1 athelas">
        {{ .Title }}
      </h1>
        {{/* TODO: Add Hugo author  */}}
        {{/* Hugo uses Go's date formatting is set by example. Here are two formats */}}
      <time class="f6 mv4 dib tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
      <section class="nested-copy-line-height lh-copy serif f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </section>
      {{ partial "tags.html" . }}
    </article>
    <div class="ph3 mt2 mt6-ns">
      {{ partial "menu-contextual.html" . }}
    </div>
  </div>
{{ end }}
